src/ClientWithPoolProofOfConcept/Service References/ClientService/CommunicationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommunicationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_ICommunicationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <netdx:Duplex DuplexMode="SingleMessagePerPoll" xmlns:netdx="http://schemas.microsoft.com/2008/04/netduplex" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53797/Service/CommunicationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53797/Service/CommunicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53797/Service/CommunicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClientWithPoolProofOfConcept.Shared.Web" />
      <xsd:import schemaLocation="http://localhost:53797/Service/CommunicationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommunicationService_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="ICommunicationService_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationService_AddPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPerson" />
  </wsdl:message>
  <wsdl:message name="ICommunicationService_AddPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationService_AddWorkCenter_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWorkCenter" />
  </wsdl:message>
  <wsdl:message name="ICommunicationService_AddWorkCenter_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWorkCenterResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationService_LoadData_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadData" />
  </wsdl:message>
  <wsdl:message name="ICommunicationService_LoadData_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicationService_Notify_OutputCallbackMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/Message" name="message" type="q1:MessageBody" />
  </wsdl:message>
  <wsdl:portType name="ICommunicationService">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommunicationService/LogIn" message="tns:ICommunicationService_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommunicationService/LogInResponse" message="tns:ICommunicationService_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommunicationService/AddPerson" message="tns:ICommunicationService_AddPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommunicationService/AddPersonResponse" message="tns:ICommunicationService_AddPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddWorkCenter">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommunicationService/AddWorkCenter" message="tns:ICommunicationService_AddWorkCenter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommunicationService/AddWorkCenterResponse" message="tns:ICommunicationService_AddWorkCenter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommunicationService/LoadData" message="tns:ICommunicationService_LoadData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommunicationService/LoadDataResponse" message="tns:ICommunicationService_LoadData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <wsdl:output wsaw:Action="http://microsoft.com/samples/pollingDuplex/notification" message="tns:ICommunicationService_Notify_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_ICommunicationService" type="tns:ICommunicationService">
    <wsp:PolicyReference URI="#CustomBinding_ICommunicationService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/ICommunicationService/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap12:operation soapAction="http://tempuri.org/ICommunicationService/AddPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWorkCenter">
      <soap12:operation soapAction="http://tempuri.org/ICommunicationService/AddWorkCenter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadData">
      <soap12:operation soapAction="http://tempuri.org/ICommunicationService/LoadData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <soap12:operation soapAction="http://microsoft.com/samples/pollingDuplex/notification" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommunicationService">
    <wsdl:port name="CustomBinding_ICommunicationService" binding="tns:CustomBinding_ICommunicationService">
      <soap12:address location="http://localhost:53797/Service/CommunicationService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:53797/Service/CommunicationService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>